@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixins";
@import "./layout/loader";
@import"./layout/header";
@import "./layout/footer";
@import "./layout/features";
@import "./component/bouton";
@import "./component/heart";


*{
    box-sizing: border-box;
    text-decoration: none;
}


body{
    max-width:100%;
    margin:0;
    padding:0;
    font-family: "Roboto";
}


a{
    cursor:pointer;
    text-decoration: none;
    color:black;
}

.list{
    list-style-type:none;
} 

.logo{
    font-family:"shrikhand";
    font-weight:normal;
}

.items h3{
    margin-left: 1rem;
    font-size:1.1rem;
    font-weight:lighter;
    font-family:"roboto";
    border-bottom: solid 3px $mint;
}


.search{
    background-color:$whitesmoke;
    @include flexAlign();
    
    .search__title{
        @include flexAlign();
        padding-top:1rem;  
        text-align:center;
    }
}


   
.search h2{
    font-size:1.5rem;
    align-self:center
}

.search p{
    font-size:1.2rem;
    padding-left:1rem;
    padding-right:1rem;
}



.location{
    width:100%;
    display:flex;
    align-items:center;
    width:100%;
    height:70px;
    background:#ecedee;
    font-size:1.2rem;
    justify-content:center;
    font-weight:bold;
}

.restos {
    background:$whitesmoke;
    padding:30px 0px;
    .restos__title{
        padding-left: 20px;
    }

}

.cards{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
    @media(min-width:600px){
        flex-direction:row;
        flex-wrap:wrap;
    }


    .cards__box{
        height:300px;
        width:100%;
        @media(min-width:600px){
        flex-basis:50%;
        }
    }

}
    

.figure{
    height:80%;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    @include Shadow;
    @media(min-width:600px){
       height:85%;
    }
        
    .figure__img{
        height:80%;
        width:100%;
        object-fit:cover;
        border-radius:20px 20px 0px 0px;
    }

    .new{
            position:absolute;
            color:$green;
            background:$aquamarine;
            height:30px;
            width:80px;
            font-size:1rem;
            text-align: center;
            padding-top: 4px;
            margin-left:25rem;
            margin-top:10px;
    }
        
}


.caption{
    background: $white;
    border-radius:0px 0px 20px 20px;
    display:flex;

    .caption__title{
        display:flex;
        flex-direction:column;
        flex-basis:90%;
        line-height:0.1rem;
        padding-left:10px;
        padding-bottom:5px;
    }
}


   


  /*--------------------------------------------PAGES MENU---------------------------------------*/ 


.menu{
    width:100%;

    .menu__img{
        height:250px;
        width:100%;
        object-fit:cover;
    }
    .menu__title{
        font-family: "shrikhand";
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        font-weight:normal;
        margin-top: -3.5rem;
        padding-top: 0.8rem;
        position: relative;
        background: $whitesmoke;
        border-radius: 40px 40px 0px 0px;
            
    }
                
}

.menu__title-1{
    font-weight:lighter;
    font-size:1.7rem;
    @media(min-width:600px){
        font-size:2rem;
    }
}




.items{
    @include flexAlign();
    background:$whitesmoke;
    

.items__description{
       
    @media(min-width:700px){
        animation:appear 1s ease-in  forwards;
        opacity:0;
        width:40%;
        &:nth-child(2){
            animation-delay: 1.5s ;  
        }
    
        &:nth-child(3){
            animation-delay: 2s ;
        }
        &:nth-child(4){
            animation-delay: 2.5s;
        }
        &:nth-child(5){
            animation-delay: 3s ;
        }
        &:nth-child(7){
         animation-delay: 3.5s ;
        }
        &:nth-child(8){
            animation-delay: 4s;   
        }
        &:nth-child(9){
            animation-delay: 4.5s ;
        }
        & :nth-child(11){
            animation-delay: 5s ;
        }
        &:nth-child(12){
            animation-delay: 5.5s ;
        }
    
        & :nth-child(13){
            animation-delay: 6s;
        }
    }
}
    
        
.items__description{
        border-radius: 15px;
        margin: 15px;
        background:$white;
        display: flex;
        justify-content: space-between;
        height: 4.2rem;
        line-height: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    &:hover{
        .switch--opened{
            transform:translateX();
            display: flex;
        }
        .switch__icon{
            transform:rotate(360deg);
        }
        
    }
    
}

.items__title{
    align-self:flex-start
}

.items__description p{
    font-weight:lighter;
}


.description__content{
    padding-left:1rem;
    flex-basis: 90%;
    display:flex;
    flex-direction: column;
    .bold{
        font-weight:700;
    }
   
}

.description__price{
    align-self: center;
    padding-right:5px;
    
}


.switch--opened{
    display: flex;
    align-items: center;
    width: 4rem;
    justify-content:center;
    transition: all 2s ease-out;
    display:none;
    
      
    .switch__background{
        background:$mint;
        border-radius: 0px 15px 15px 0px;
        width:4rem;  
        height:100%;
        transition-duration:1s;
    }
    
    .switch__icon{
        color:$white;
        font-size: 1.5rem;
        position:absolute;
        transition-duration:1.5s ease-in-out;
       
    }
}









}