*{
    box-sizing: border-box;
    text-decoration: none;
}

.loader__container{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    animation-delay:2s;
    animation-duration:3s;
    opacity:1;
    background-color: aqua;
    position:relative;
    
}
      
    

.loader {
    position: fixed;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
  }
  .dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite forwards;
  }
  .dot:nth-child(1) {
    animation-delay: 0.1s;
    background: #32aacc;
  }
  .dot:nth-child(2) {
    animation-delay: 0.2s;
    background: #99E2D0;
  }
  .dot:nth-child(3) {
    animation-delay: 0.3s;
    background: #9356DC;
  }
  .dot:nth-child(4) {
    animation-delay: 0.4s;
    background: #FF79DA;
  }
  .dot:nth-child(5) {
    animation-delay: 0.5s;
    background: #faaacc;
  }
  @-moz-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @-webkit-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @-o-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  
    
body{
    max-width:100%;
    margin:0;
    padding:0;
    font-family: "Roboto";
}


a{
    cursor:pointer;
    text-decoration: none;
    color:black;
}

.logo{
    font-family:"shrikhand";
    font-weight:normal;
}

.btn--pink {
    color: white;
    background-image: linear-gradient(to top,#9356dc, #ee5fca, #FF79DA);
    height: 50px;
    border-radius: 40px;
    width: 50%;
    margin-bottom:30px;
    text-align: center;
    padding:15px;
    margin-top:35px;
    font-size:0.8rem;
    
}

/*-----------page d accueil-----------------------------*/


.header{
    background:white;
   padding-bottom:20px;

    .header__logo{
        font-weight:normal;
        text-align:center;
        font-family:"Shrikhand";
    }
    
}



.items h3{
    margin-left: 1rem;
    font-size:1.1rem;
    font-weight:lighter;
    font-family:"roboto";
    border-bottom: solid 3px #99E2D0;

}


.search{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    .search__title{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top:1rem;  
    }
}


   
.search h2{
       font-size:1.5rem;
       align-self:center
}
.search p{
    font-size:1.2rem;
    padding-left:1rem;
    padding-right:1rem;
}



.location{
    width:100%;
    display:flex;
    align-items:center;
    width:100%;
    height:70px;
    background:#ecedee;
    font-size:1.2rem;
    justify-content:center;
    font-weight:bold;
}
        
      

.features{
background:white;
padding:30px 0px;
display: flex;
flex-direction: column;
align-items: center;

    .features__btn{
    height: 70px;
    box-shadow: 3px 5px 3px 4px lightgrey;
    border-radius: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
        &:hover{
            background-color:lavender;
        }
        @media(min-width:600px){
            margin:1rem auto;
            width:40%;
        }
    }

}


.features__title {
    align-self: flex-start;
}


.features__fas{
    margin-right:2rem;
    margin-left:3rem;
    @media(min-width:600px){
        margin-right:6rem;
        margin-left:6rem; 
    }
}

.btn__number{

border-radius: 50%;
background:#9356dc;
padding: 5px 7px 5px 7px;
margin-left: -13px;
color:white;
}



.restos {
    background: whitesmoke;
    padding:30px 0px;
    
    .cards{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        height:100%;
        @media(min-width:600px){
            flex-direction:row;
            flex-wrap:wrap;
        }
    }

    .cards__box{
        height:300px;
        width:100%;
        @media(min-width:600px){
            flex-basis:50%;
        }
    }
}

    

.figure{
    height:80%;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    box-shadow:1px 1px 2px 2px lightgrey;
    @media(min-width:600px){
        height:95%;
    }
        
    .figure__img{
        height:80%;
        width:100%;
        object-fit:cover;
        border-radius:20px 20px 0px 0px;
    }

        .new{
            position:absolute;
            color:green;
            background: aquamarine;
            height:30px;
            width:80px;
            align-self:end;
            font-size:1rem;
            text-align: center;
            padding-top: 4px;
            margin-top:5px;
            margin-right:15px;
        }
        
}


.caption{
    background: white;
    border-radius:0px 0px 20px 20px;
    display:flex;

    .caption__title{
        display:flex;
        flex-direction:column;
        flex-basis:90%;
        line-height:0.1rem;
        padding-left:10px;
        padding-bottom:5px;
    }
}

@keyframes progress{
    0%{}
    50%{}
    100%{}
}
   

.fa-heart{
    text-align:center;
    font-size:1.5rem;
    align-self:center;
    color:white;
    transition:all 2s ease-in;
    font-weight:bold;
   display:block;
   background-size: 200% 100%;
   background-position: right bottom;
   transition: all .5s ease-out;
  
   
    .fa-heart:hover{
        transition:transform 2s ease-in-out;
        background-position:left bottom;
        color:linear-gradient(to right,#9356dc, #ee5fca, #FF79DA);
    }
}

.list{
    list-style-type:none;
        
} 
.footer{
    background:#353535;
    line-height: 2rem;
    color:white;
    
     .footer__logo{
        
        font-weight:normal;
        padding-left:40px;
        padding-top:20px;
        font-size:1.2rem;
    }
    

    .footer__icon{
        padding-right:0.5rem;
    }

    .footer--link{
        color:white;
    }
    
}     

  /*--------------------------------------PAGES MENU---------------------------------------*/ 
.header2{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-right: 1rem;
    height:4rem;
    @media(min-width :600px){
        max-width: 70%;
    }
    
    .header2__arrow{
       font-size: 1.5rem;
    }
}      

.menu{
    width:100%;

    .menu__img{
        height:250px;
        width:100%;
        object-fit:cover;
    }
        .menu__title{
            font-family: "shrikhand";
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            font-weight:normal;
            margin-top: -3.5rem;
            padding-top: 0.8rem;
            position: relative;
            background: whitesmoke;
            border-radius: 40px 40px 0px 0px;
            
        }
                
}

.menu__title-1{
    font-weight:lighter;
    font-size:1.7rem;
    @media(min-width:600px){
        font-size:2rem;
    }
}

@keyframes appear{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
    
}


.items{
    display:flex;
    flex-direction:column;
    background:whitesmoke;
    align-items:center;
    @media(min-width:600px){
    opacity:0;
    animation: appear 1s forwards ease-in-out;
    }
    
        
    .items__description{
        border-radius: 15px;
        margin: 15px;
        background: white;
        width:80%;
        display: flex;
        justify-content: space-between;
        height: 4.2rem;
        line-height: 0.2rem;
        &:hover{
            .switch--opened{
            left:0;
            transform: translateX(100px);
            
            }
        }
            @media(min-width:600px){
                width: 450px;
                overflow: hidden;
                
            
        }

        
    }   
}

.items .description :nth-child(2){
    animation-delay: 1s ;
}

.items .description :nth-child(3){
    animation-delay: 2s ;
}
.items .description :nth-child(4){
    animation-delay: 3s;
}
.items .description :nth-child(5){
    animation-delay: 4s ;
}
.items .description :nth-child(7){
    animation-delay: 5s ;
}
.items .description :nth-child(8){
    animation-delay: 6s;
}
.items .description :nth-child(9){
    animation-delay: 7s ;
}
.items .description :nth-child(11){
    animation-delay: 8s ;
}
.items .description :nth-child(12){
    animation-delay: 9s ;
}

.description :nth-child(13){
    animation-delay: 10s;
}

.items__title{
    align-self:flex-start
    }

.items__description p{
    font-weight:lighter;  
}


.description__content{
    padding-left:1rem;
    flex-basis:60%;


}
.description__price{
    align-self: center;
    padding-right:5px;
    
}



@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.switch--opened{
    display: flex;
    align-items: center;
    width: 4rem;
    justify-content:center;
    transition: all 2s ease-in;
    position:relative;
    
    
    .switch__background{
        background:#99E2D0;
        border-radius: 0px 15px 15px 0px;
        width:4rem;  
        height:100%;
        transition-duration:1s;
    }
    
    .switch__icon{
        color:white;
        font-size: 1.5rem;
        position:absolute;
       transition-duration:1s;
        transform:rotate(360deg);
    }
}

.switch--closed{
    position:absolute;
    right:-100px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform:rotate;
   
   
}







