.features{
    background:$white;
    padding:30px 0px;
    @include flexAlign();
    @media(min-width:900px){
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }
}
    
    
.features__title {
    align-self: flex-start;
    padding-left: 20px;
    @media(min-width:700px){
        font-size:1.5rem;
    }
    @media(min-width:900px){
        flex-basis:100%;
    }
}
    
    
.features__fas{
    margin-right:2rem;
    margin-left:2rem;
    @media(min-width:600px){
        margin-right:3rem;
        margin-left:3rem; 
    }
}



.features__btn{
    @include Shadow;
    border-radius: 20px;
    width: 80%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: $whitesmoke;
    padding-right: 5px;
    &:hover{
        background-color:$lavender;
        .fas{ 
            color:$purple;

        }
    }
    @media(min-width:600px){
        width: 50%;
    }
    @media(min-width:900px){
        width:30%;
    }
}

.btn__number{

    border-radius: 50%;
    background:$purple;
    padding: 5px 7px 5px 7px;
    margin-left: -13px;
    color:$white;
}