.features{
    background:$white;
    padding:30px 0px;
    @include flexAlign();
    
        .features__btn{
        height: 70px;
        @include Shadow;
        border-radius: 20px;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: $whitesmoke;
            &:hover{
                background-color:$lavender;
                .fas{ 
                    color:$purple;
                }
            }
            @media(min-width:600px){
                margin:1rem auto;
                width:40%;
            }
        }
    
    }
    
    
    .features__title {
        align-self: flex-start;
        padding-left: 20px;
    }
    
    
    .features__fas{
        margin-right:2rem;
        margin-left:3rem;
        @media(min-width:600px){
            margin-right:6rem;
            margin-left:6rem; 
        }
    }

    .btn__number{

        border-radius: 50%;
        background:$purple;
        padding: 5px 7px 5px 7px;
        margin-left: -13px;
        color:$white;
        }