footer{
    background:$footer-bg;
    line-height: 2rem;
    color:$white;
    
    
    .footer__logo{
        
        font-weight:normal;
        padding-left:40px;
        padding-top:20px;
        font-size:1.2rem;
    }
    

    .footer__icon{
        padding-right:0.5rem;
    }

    .footer--link{
        color:$white;
    }
    
}     