@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
@keyframes progress {}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

.loader__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  animation-delay: 2s;
  animation-duration: 3s;
  opacity: 1;
  background-color: aqua;
}

.loader {
  width: 230px;
  height: 35px;
  position: relative;
  margin: 50px auto 0;
}

.loader span {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.loader span:nth-child(1) {
  background: #9356dc;
}

.loader span:nth-child(2) {
  background: #88c46d;
}

.loader span:nth-child(3) {
  background: #FF79DA;
}

.loader span:nth-child(4) {
  background: #f1e96b;
}

.loader span:nth-child(5) {
  background: #99E2D0;
}

.loader span:before {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: wave 2s ease-out infinite;
}

.loader span:nth-child(1):before {
  animation-delay: 0.2s;
}

.loader span:nth-child(2):before {
  animation-delay: 0.4s;
}

.loader span:nth-child(3):before {
  animation-delay: 0.6s;
}

.loader span:nth-child(4):before {
  animation-delay: 0.8s;
}

.loader span:nth-child(5):before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes stop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "shrikhand";
  font-weight: normal;
}

.btn--pink {
  color: white;
  background-image: linear-gradient(to top, #9356dc, #ee5fca, #FF79DA);
  height: 50px;
  border-radius: 40px;
  width: 50%;
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
  margin-top: 35px;
  font-size: 0.8rem;
  border: none;
  box-shadow: 5px 14px 24px 15px rgba(163, 155, 155, 0.64);
  -webkit-box-shadow: 5px 14px 24px 15px rgba(163, 155, 155, 0.64);
  -moz-box-shadow: 5px 14px 24px 15px rgba(163, 155, 155, 0.64);
}
.btn--pink:hover {
  box-shadow: rgba(33, 30, 30, 0.64);
  color: gray;
}

.btn--pink a {
  color: white;
}

/*-----------page d accueil-----------------------------*/
.header {
  background: white;
  padding-bottom: 20px;
}
.header .header__logo {
  font-weight: normal;
  text-align: center;
  font-family: "Shrikhand";
}

.items h3 {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: "roboto";
  border-bottom: solid 3px #99E2D0;
}

.search {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .search__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

.search h2 {
  font-size: 1.5rem;
  align-self: center;
}

.search p {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #ecedee;
  font-size: 1.2rem;
  justify-content: center;
  font-weight: bold;
}

.features {
  background: white;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .features__btn {
  height: 70px;
  box-shadow: 3px 5px 3px 4px lightgrey;
  border-radius: 20px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}
.features .features__btn:hover {
  background-color: lavender;
}
@media (min-width: 600px) {
  .features .features__btn {
    margin: 1rem auto;
    width: 40%;
  }
}

.features__title {
  align-self: flex-start;
}

.features__fas {
  margin-right: 2rem;
  margin-left: 3rem;
}
@media (min-width: 600px) {
  .features__fas {
    margin-right: 6rem;
    margin-left: 6rem;
  }
}

.btn__number {
  border-radius: 50%;
  background: #9356dc;
  padding: 5px 7px 5px 7px;
  margin-left: -13px;
  color: white;
}

.restos {
  background: whitesmoke;
  padding: 30px 0px;
}
.restos .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
@media (min-width: 600px) {
  .restos .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restos .cards__box {
  height: 300px;
  width: 100%;
}
@media (min-width: 600px) {
  .restos .cards__box {
    flex-basis: 50%;
  }
}

.figure {
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 2px lightgrey;
}
@media (min-width: 600px) {
  .figure {
    height: 95%;
  }
}
.figure .figure__img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.figure .new {
  position: absolute;
  color: green;
  background: aquamarine;
  height: 30px;
  width: 80px;
  font-size: 1rem;
  text-align: center;
  padding-top: 4px;
}

.caption {
  background: white;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
.caption .caption__title {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  line-height: 0.1rem;
  padding-left: 10px;
  padding-bottom: 5px;
}

.fa-heart {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  background-clip: text;
  background-size: cover;
  -webkit-text-stroke: 1px black;
  background-image: white;
  align-self: center;
}
.fa-heart:hover {
  -webkit-text-stroke: white;
  background-image: linear-gradient(to top, #9356dc, #ee5fca, #FF79DA);
}
.fa-heart:active {
  color: linear-gradient(to top, #9356dc, #ee5fca, #FF79DA);
}

.list {
  list-style-type: none;
}

.footer {
  background: #353535;
  line-height: 2rem;
  color: white;
}
.footer .footer__logo {
  font-weight: normal;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 1.2rem;
}
.footer .footer__icon {
  padding-right: 0.5rem;
}
.footer .footer--link {
  color: white;
}

/*--------------------------------------PAGES MENU---------------------------------------*/
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 6rem;
  height: 4rem;
}
@media (min-width: 600px) {
  .header2 {
    max-width: 70%;
    padding-right: 4rem;
  }
}
.header2 .header2__arrow {
  font-size: 1.5rem;
}

.menu {
  width: 100%;
}
.menu .menu__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.menu .menu__title {
  font-family: "shrikhand";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: normal;
  margin-top: -3.5rem;
  padding-top: 0.8rem;
  position: relative;
  background: whitesmoke;
  border-radius: 40px 40px 0px 0px;
}

.menu__title-1 {
  font-weight: lighter;
  font-size: 1.7rem;
}
@media (min-width: 600px) {
  .menu__title-1 {
    font-size: 2rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  align-items: center;
}
@media (min-width: 600px) {
  .items {
    opacity: 0;
    animation: appear 1s forwards ease-in-out;
  }
}
.items .items__description {
  border-radius: 15px;
  margin: 15px;
  background: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 4.2rem;
  line-height: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items .items__description:hover .switch--opened {
  left: 100px;
  transform: translateX(-100px);
}
.items .items__description:hover .switch__icon {
  transition-duration: 1s;
  transform: rotate(360deg);
}
.items .items .description :nth-child(2) {
  animation-delay: 1s;
}
.items .items .description :nth-child(3) {
  animation-delay: 2s;
}
.items .items .description :nth-child(4) {
  animation-delay: 3s;
}
.items .items .description :nth-child(5) {
  animation-delay: 4s;
}
.items .items .description :nth-child(7) {
  animation-delay: 5s;
}
.items .items .description :nth-child(8) {
  animation-delay: 6s;
}
.items .items .description :nth-child(9) {
  animation-delay: 7s;
}
.items .items .description :nth-child(11) {
  animation-delay: 8s;
}
.items .items .description :nth-child(12) {
  animation-delay: 9s;
}
.items .description :nth-child(13) {
  animation-delay: 10s;
}
.items .items__title {
  align-self: flex-start;
}
.items .items__description p {
  font-weight: lighter;
}
.items .description__content {
  padding-left: 1rem;
  flex-basis: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items .description__price {
  align-self: center;
  padding-right: 5px;
}
.items .switch--opened {
  display: flex;
  align-items: center;
  width: 4rem;
  justify-content: center;
  transition: all 1s ease-out;
  position: relative;
  right: -100px;
  transform: translate x;
}
.items .switch--opened .switch__background {
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  width: 4rem;
  height: 100%;
  transition-duration: 1s;
}
.items .switch--opened .switch__icon {
  color: white;
  font-size: 1.5rem;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
