* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.list {
  list-style-type: none;
}

.logo {
  font-family: "shrikhand";
  font-weight: normal;
}
@media (min-width: 700px) {
  .logo {
    font-size: 2.3rem;
  }
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes stop {
  0% {
    opacity: 1;
  }
  99% {
    transform: translateY(-200%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes switch {
  0% {
    width: 0;
    margin-right: 0;
  }
  100% {
    width: 5rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes progressive {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1.5;
  }
}
.loader__container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  padding-top: 200px;
  top: 0;
  background: whitesmoke;
  opacity: 1;
  z-index: 1000;
  animation: stop 2s 3s ease-out forwards;
}

.loader {
  width: 230px;
  height: 35px;
  position: relative;
  margin: 50px auto 0;
  z-index: 1001;
}

.loader span {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.loader span:nth-child(1) {
  background: #9356dc;
}

.loader span:nth-child(2) {
  background: #99E2D0;
}

.loader span:nth-child(3) {
  background: #FF79DA;
}

.loader span:nth-child(4) {
  background: #f1e96b;
}

.loader span:nth-child(5) {
  background: #7fffd4;
}

.loader span:before {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: wave 2s ease-out infinite;
}

.loader span:nth-child(1):before {
  animation-delay: 0.2s;
}

.loader span:nth-child(2):before {
  animation-delay: 0.4s;
}

.loader span:nth-child(3):before {
  animation-delay: 0.6s;
}

.loader span:nth-child(4):before {
  animation-delay: 0.8s;
}

.loader span:nth-child(5):before {
  animation-delay: 1s;
}

.header {
  background: #ffffff;
}
.header .header__logo {
  font-weight: normal;
  text-align: center;
  font-family: "Shrikhand";
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 6rem;
  height: 4rem;
}
@media (min-width: 600px) {
  .header2 {
    max-width: 70%;
    padding-right: 4rem;
  }
}
.header2__arrow {
  font-size: 1.5rem;
}
@media (min-width: 700px) {
  .header2__arrow {
    padding-left: 20px;
    padding-right: 200px;
  }
}

.search {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .search__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
}

.search h2 {
  font-size: 1.5rem;
  align-self: center;
}

.search p {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #ecedee;
  font-size: 1.2rem;
  justify-content: center;
  font-weight: bold;
}

.features {
  background: #ffffff;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.features__title {
  align-self: flex-start;
  padding-left: 20px;
}
@media (min-width: 700px) {
  .features__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) {
  .features__title {
    flex-basis: 100%;
  }
}

.features__fas {
  margin-right: 2rem;
  margin-left: 2rem;
}
@media (min-width: 600px) {
  .features__fas {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

.features__btn {
  box-shadow: 3px 5px 3px 4px #d3d3d3;
  -webkit-box-shadow: 3px 5px 3px 4px #d3d3d3;
  -moz-box-shadow: 3px 5px 3px 4px #d3d3d3;
  border-radius: 20px;
  width: 80%;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding-right: 5px;
}
.features__btn:hover {
  box-shadow: 3px 5px 3px 4px #aaa6a6;
  -webkit-box-shadow: 3px 5px 3px 4px #aaa6a6;
  -moz-box-shadow: 3px 5px 3px 4px #aaa6a6;
  background-color: #e6e6fa;
  transition: all 0.5s ease-in-out;
}
.features__btn:hover .fas {
  color: #9356dc;
}
@media (min-width: 600px) {
  .features__btn {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .features__btn {
    width: 30%;
  }
}

.btn__number {
  border-radius: 50%;
  background: #9356dc;
  padding: 5px 7px 5px 7px;
  margin-left: -13px;
  color: #ffffff;
}

.restos {
  background: #f5f5f5;
  padding: 15px 0px;
}
.restos .restos__title {
  padding-left: 20px;
}
@media (min-width: 700px) {
  .restos .restos__title {
    font-size: 1.5rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.cards .cards__box {
  height: 300px;
  width: 100%;
}
@media (min-width: 700px) {
  .cards .cards__box {
    flex-basis: 50%;
  }
}

.figure {
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 3px 4px #d3d3d3;
  -webkit-box-shadow: 3px 5px 3px 4px #d3d3d3;
  -moz-box-shadow: 3px 5px 3px 4px #d3d3d3;
}
.figure:hover {
  box-shadow: 3px 5px 3px 4px #aaa6a6;
  -webkit-box-shadow: 3px 5px 3px 4px #aaa6a6;
  -moz-box-shadow: 3px 5px 3px 4px #aaa6a6;
}
@media (min-width: 1000px) {
  .figure {
    width: 90%;
    height: 95%;
  }
}
.figure .figure__img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 700px) {
  .figure .figure__img {
    height: 70%;
  }
}

.caption {
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
.caption .caption__title {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  line-height: 0.1rem;
  padding-left: 10px;
  padding-bottom: 5px;
}

.menu {
  width: 100%;
}
.menu .menu__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.menu .menu__title {
  font-family: "shrikhand";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: normal;
  margin-top: -3.5rem;
  padding-top: 0.8rem;
  position: relative;
  background: #f5f5f5;
  border-radius: 40px 40px 0px 0px;
}

.menu__title-1 {
  font-weight: lighter;
  font-size: 1.7rem;
}
@media (min-width: 600px) {
  .menu__title-1 {
    font-size: 2rem;
    padding-left: 2rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  justify-content: center;
}

.items h3 {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: "roboto";
  border-bottom: solid 3px #99E2D0;
}

.items__title {
  align-self: flex-start;
}
@media (min-width: 1000px) {
  .items__title {
    flex-basis: 100%;
  }
}

.description__content {
  padding: 0.5rem;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description__content .bold {
  font-weight: 700;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.items__description {
  box-shadow: 3px 5px 3px 4px #d3d3d3;
  -webkit-box-shadow: 3px 5px 3px 4px #d3d3d3;
  -moz-box-shadow: 3px 5px 3px 4px #d3d3d3;
  border-radius: 15px;
  margin: 15px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  width: 80%;
}
.items__description:hover {
  box-shadow: 3px 5px 3px 4px #aaa6a6;
  -webkit-box-shadow: 3px 5px 3px 4px #aaa6a6;
  -moz-box-shadow: 3px 5px 3px 4px #aaa6a6;
  cursor: pointer;
}
.items__description:hover .switch--opened {
  display: flex;
  animation: switch 1s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards alternate;
}
.items__description:hover .switch__icon {
  animation: rotate 0.5s ease-in-out forwards alternate;
}
@media (min-width: 700px) {
  .items__description {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .items__description {
    width: 30%;
  }
}

.items__description p {
  font-weight: lighter;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description__price {
  align-self: center;
  padding-right: 5px;
  margin: 1rem;
}

.menu__category {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  animation: appear 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
  opacity: 0;
}
@media (min-width: 1000px) {
  .menu__category {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
  }
}
.menu__category:nth-child(1) {
  animation-delay: 0.5s;
}
.menu__category:nth-child(2) {
  animation-delay: 1s;
}
.menu__category:nth-child(3) {
  animation-delay: 1.5s;
}

footer {
  background: #353535;
  line-height: 2rem;
  color: #ffffff;
}
footer .footer__logo {
  font-weight: normal;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 1.2rem;
}
footer .footer__icon {
  padding-right: 0.5rem;
}
footer .footer--link {
  color: #ffffff;
}

.box--new {
  display: flex;
  justify-content: flex-end;
}
.box--new .new {
  position: absolute;
  color: #008000;
  background: #7fffd4;
  height: 30px;
  width: 80px;
  font-size: 1rem;
  text-align: center;
  padding-top: 4px;
  margin-top: 1rem;
  margin-right: 1rem;
}

.btn--pink {
  color: white;
  background-image: linear-gradient(#9356dc, #ee5fca, #ff79da);
  height: 50px;
  width: 200px;
  border-radius: 40px;
  margin-bottom: 30px;
  text-align: center;
  padding: 18px;
  margin-top: 35px;
  font-size: 0.8rem;
  border: none;
  box-shadow: 3px 5px 3px 4px #d3d3d3;
  -webkit-box-shadow: 3px 5px 3px 4px #d3d3d3;
  -moz-box-shadow: 3px 5px 3px 4px #d3d3d3;
}
.btn--pink:hover {
  background-image: linear-gradient(#a0a1eb, #f85fca, #ff79da);
  box-shadow: 3px 5px 3px 4px #aaa6a6;
  -webkit-box-shadow: 3px 5px 3px 4px #aaa6a6;
  -moz-box-shadow: 3px 5px 3px 4px #aaa6a6;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .btn--pink {
    width: 300px;
    margin: 50px auto;
  }
}

.fa-heart {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: cover;
  -webkit-text-stroke: 1.2px #000000;
  -moz-text-stroke: 1.2px #000000;
  background-image: none;
  align-self: center;
  padding: 10px;
}
.fa-heart:hover {
  -webkit-text-stroke: #ffffff;
  background-image: linear-gradient(to top, #9356dc, #ee5fca, #FF79DA);
  animation: progressive ease-in-out 1s;
  cursor: pointer;
}

.liked {
  bottom: 120px;
  font-size: 14px;
  visibility: hidden;
  background: linear-gradient(#9356dc, #ee5fca, #FF79DA);
}

.switch--opened {
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;
}

.switch__background {
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  width: 4rem;
  height: 100%;
}

.switch__icon {
  color: #ffffff;
  font-size: 1.5rem;
  position: absolute;
  transition: 1.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
