.btn--pink{
    color: white;
    background-image:$color-btn;
    height: 50px;
    border-radius: 40px;
    width: 50%;
    margin-bottom:30px;
    text-align: center;
    padding:15px;
    margin-top:35px;
    font-size:0.8rem; 
    border:none;
    box-shadow: 5px 14px 24px 15px rgba(163,155,155,0.64);
    -webkit-box-shadow: 5px 14px 24px 15px rgba(163,155,155,0.64);
    -moz-box-shadow: 5px 14px 24px 15px rgba(163,155,155,0.64);

    @media(min-width:600px){
        width:30%;
    }
    &:hover{
        box-shadow: darken($color:rgba(163,155,155,0.64), $amount: 50%);
        color:lighten($color: #000000, $amount: 50%);
        
    }

}

.btn--pink a{
    color:#ffffff;
}