.btn--pink{
    color: white;
    background-image:$color-btn;
    height: 50px;
    width:200px;
    border-radius: 40px;
    margin-bottom:30px;
    text-align: center;
    padding:15px;
    margin-top:35px;
    font-size:0.8rem; 
    border:none;
    @include Shadow;
    &:hover{
        background: lighten ($color-btn,50%);
         
    }

    @media(min-width:600px){
        width:300px;
    }
    

}

