.fa-heart{
    text-align:center;
    font-size:1.8rem;
    font-weight:900;
    color:transparent;
    overflow:hidden;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size:cover;
    -webkit-text-stroke: 1.2px $black;
    -moz-text-stroke: 1.2px $black;
    background-image: hidden;
    align-self:center;
    padding-right:10px;
    &:hover{
       -webkit-text-stroke: $white;
        background-image:linear-gradient(to top,#9356dc, #ee5fca, #FF79DA);
    }

    &:active{
        background-image:visible;
        background-image: linear-gradient(to top,#9356dc, #ee5fca, #FF79DA);
    }
    
}
.liked{
    bottom:120px;
    font-size:14px;
    visibility:hidden;
    color:linear-gradient(to top,#9356dc, #ee5fca, #FF79DA);
  }

