@mixin flexAlign{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

@mixin Shadow{
    box-shadow:3px 5px 3px 4px #d3d3d3;
    -webkit-box-shadow:3px 5px 3px 4px #d3d3d3;
    -moz-box-shadow:3px 5px 3px 4px #d3d3d3;
   
}

@mixin ShadowHover{
    box-shadow:3px 5px 3px 4px #aaa6a6;
    -webkit-box-shadow:3px 5px 3px 4px #aaa6a6;
    -moz-box-shadow:3px 5px 3px 4px #aaa6a6;
}

@mixin BgGradient{
    background-image:linear-gradient(rgb(147, 86, 220), rgb(238, 95, 202), rgb(255, 121, 218));
   
}

@mixin BgGradientHover{
    background-image:linear-gradient(rgb(160, 161, 235), rgb(248, 95, 202),rgb(265, 121, 218))
}

@mixin items-Layout{
    border-radius: 15px;
    margin: 15px;
    background:$white;
    display: flex;
    justify-content: space-between;
    height: 4.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

