$purple:#9356dc;
$pink:#FF79DA;
$mint: #99E2D0;
$color-btn:linear-gradient(to top,#9356dc, #ee5fca, #FF79DA);
$black: #000000;
$white:#ffffff;
$whitesmoke:#f5f5f5;
$lightgrey:#d3d3d3;
$lavender:#e6e6fa;
$green:#008000;
$aquamarine:#7fffd4;
$light-yellow:#f1e96b;